<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.thymeleaf.mapper.TOptionsPOMapper">
  <resultMap id="BaseResultMap" type="com.example.thymeleaf.model.TOptionsPO">
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>