<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.thymeleaf.mapper.TRelationshipsPOsMapper">
  <resultMap id="BaseResultMap" type="com.example.thymeleaf.model.TRelationshipsPOsKey">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <id column="mid" jdbcType="INTEGER" property="mid" />
  </resultMap>
</mapper>